html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#landing {
    min-height: 100vh;
    display: flex;
}

#landing-canva {
    width: 55%;
    background-color: #f7c8c8;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

#landing-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    z-index: 2;
    background: rgba(41, 82, 74, 0.2); /* reduced opacity */
    backdrop-filter: blur(5px); /* reduced blur */
    -webkit-backdrop-filter: blur(5px);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: #F5F5F5;
    padding: 2rem;
}

#categories-container {
    flex-grow: 1;
}

#content-area {
    flex-grow: 1;
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    text-align: center;
    background-color: rgba(183, 235, 225, 0.5);
    width: 100%;
}

@media only screen and (max-width: 992px) {
    #landing-canva {
        width: 100%;
        height: 15rem;
        position: absolute;
    }

    #landing-content {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 1rem;
        box-sizing: border-box;
        background: rgba(41, 82, 74, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* reducing box-shadow and backdrop-filter on phones */
        box-shadow: none;
        backdrop-filter: blur(5px); /* reduced blur */
        -webkit-backdrop-filter: blur(5px);
    }
}