<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
</head>
<body>
    <div id="landing">
        <div id="landing-canva"></div>
        <div id="landing-content">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </div>
    </div>
    <script src="{{ "p5/p5.min.js" | absURL }}"></script>
    <script src="{{ "js/genart.js" | absURL }}"></script>
    <script src="{{ "js/main.js" | absURL }}"></script>
</body>
</html>