<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    </head>
    <body>
        <div id="landing">
            <div id="landing-canva"></div>
            <div id="landing-content">
                {{- partial "header.html" . -}}
                <button id="back-button" style="display:none;">〈</button>
                <section id="categories-container">
                    <a href="{{ "/about/" | absURL }}" class="category-item" data-category="about">about</a>
                    <a href="{{ "/cv/" | absURL }}" class="category-item" data-category="cv">cv</a>
                    <a href="{{ "/posts/" | absURL }}" class="category-item" data-category="posts">posts</a>
                    <a href="{{ "/photography/" | absURL }}" class="category-item" data-category="photography">photography</a>
                </section>
                <div id="content-area" {{ if eq .Type "post" }}data-page-type="single"{{ end }}>
                    <!-- Content will be loaded here dynamically -->
                </div>
                {{- partial "footer.html" . -}}
            </div>
        </div>
        <script src="{{ relURL `p5/p5.min.js` }}"></script>
        <script src="{{ relURL `js/genart.js` }}"></script>
        <script src="{{ relURL `js/main.js` }}"></script>
    </body>
</html>