{{ partial "header.html" . }}

<div class="home-content">{{ .Content }}</div>

{{ if .IsHome }}
    {{ partial "search-form.html" . }}
    <ul id="results"></ul>

    {{ range .Sections }}
        <h2 class="section-title">
            {{ if eq .CurrentSection.Title "photography" }}photography{{ else }}{{ .CurrentSection.Title }}{{ end }}
        </h2>
        {{ .CurrentSection.Content }}
        {{ partial "post_list.html" . }}
    {{ end }}
{{ else }}
    <h2 class="section-title">
        {{ if eq .CurrentSection.Title "photography" }}photography{{ else }}{{ .CurrentSection.Title }}{{ end }}
    </h2>
    {{ partial "post_list.html" . }}
{{ end }}

{{ partial "footer.html" . }}