{{ define "main" }}
<div id="content-area" data-page-type="list">
    <h1>
        {{ if eq .Type "posts" }}
            posts
        {{ else if eq .Type "photography" }}
            photography
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h1>
    {{ if or (eq .Type "posts") (eq .Type "photography") }}
        <table>
            {{ range .Pages.ByPublishDate.Reverse }}
            <tr>
                <td class="post-date-time date-time-font">
                    <time>{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}</time>
                </td>
                <td class="post">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </td>
            </tr>
            {{ end }}
        </table>
    {{ else }}
        {{ .Content }}
    {{ end }}
</div>
{{ end }}