{{ define "main" }}
<div id="content-area" data-page-type="list">
    <h1 id="category-title">
        {{ if eq .Type "posts" }}
            posts
        {{ else if eq .Type "photography" }}
            photography
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h1>
    {{ if or (eq .Type "posts") (eq .Type "photography") }}
        <div class="post-list-container">
            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="post-item">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            {{ end }}
        </div>
    {{ else }}
        {{ .Content }}
    {{ end }}
</div>
{{ end }}