{{ partial "header.html" . }}

{{ if not .Params.notitle }}
<div id="single-header">
  <h1>
    {{ .Title | markdownify }}
  </h1>
  <div id="single-meta">
    {{ if .Params.subtitle }}
        <p id="subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
    {{ if .Params.date }}
      <span class="datesub">{{ .Date.Format "jan 2, 2006" }}</span>
    {{ end }} {{ partial "tags.html" .}}
  </div>
</div>
{{ else }}
<div style="padding-bottom: 1px;"></div>
{{ end }}

<div class="content-container">
  {{ if .Params.toc }}
  <aside class="toc" id="tableOfContentContainer">
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  <main>{{ .Content }}</main>
</div>

{{ if .Params.math }}
    {{ partial "math.html" . }}
{{ end }}
{{ partial "footer.html" . }}
