{{ define "main" }}
<div id="content-area" data-page-type="single">
    <button id="back-button"></button>
    <article id="post">
        <h1 id="post-title">{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-date-time">
            {{ .Date.Format "Jan 2, 2006" }}
        </time>
        <div id="post-content" class="markdown-content">
            {{ .Content }}
        </div>
    </article>
    <div id="bottom-back-button-placeholder"></div>
</div>
{{ end }}